.calendar-right {
    display        : flex;
    justify-content: flex-end;
    padding        : 1rem 0 1rem 0;
    color          : black;
}

.titleDate {
    color: black;
}

.calendar {
    color: black;
}